In [1]:
import pandas as pd 
import numpy as np 
import pickle 
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('Bank_Customer_Churn_Prediction.csv')
data.head()

   customer_id  credit_score country  ... active_member  estimated_salary  churn
0     15634602           619  France  ...             1         101348.88      1
1     15647311           608   Spain  ...             1         112542.58      0
2     15619304           502  France  ...             0         113931.57      1
3     15701354           699  France  ...             0          93826.63      0
4     15737888           850   Spain  ...             1          79084.10      0

[5 rows x 12 columns]

In [3]:
data.drop('customer_id', axis= 1, inplace= True)
data.head()

   credit_score country  gender  ...  active_member  estimated_salary  churn
0           619  France  Female  ...              1         101348.88      1
1           608   Spain  Female  ...              1         112542.58      0
2           502  France  Female  ...              0         113931.57      1
3           699  France  Female  ...              0          93826.63      0
4           850   Spain  Female  ...              1          79084.10      0

[5 rows x 11 columns]

In [4]:
# Label Encoder of Gender 

label_encoder_gen = LabelEncoder()
data['gender'] = label_encoder_gen.fit_transform(data['gender'])

In [6]:
# One hot encoder of country 

onehot_encoder_con = OneHotEncoder(handle_unknown= 'ignore')
geo_encoded = onehot_encoder_con.fit_transform(data[['country']]).toarray() 
geo_encoded_df = pd.DataFrame(geo_encoded, columns= onehot_encoder_con.get_feature_names_out(['country']))
geo_encoded_df

      country_France  country_Germany  country_Spain
0                1.0              0.0            0.0
1                0.0              0.0            1.0
2                1.0              0.0            0.0
3                1.0              0.0            0.0
4                0.0              0.0            1.0
...              ...              ...            ...
9995             1.0              0.0            0.0
9996             1.0              0.0            0.0
9997             1.0              0.0            0.0
9998             0.0              1.0            0.0
9999             1.0              0.0            0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hat with original 

data = pd.concat([data.drop('country', axis= 1), geo_encoded_df], axis= 1)
data.head()

   credit_score  gender  age  ...  country_France  country_Germany  country_Spain
0           619       0   42  ...             1.0              0.0            0.0
1           608       0   41  ...             0.0              0.0            1.0
2           502       0   42  ...             1.0              0.0            0.0
3           699       0   39  ...             1.0              0.0            0.0
4           850       0   43  ...             0.0              0.0            1.0

[5 rows x 13 columns]

In [10]:
# Split the data into X, y 

X = data.drop('estimated_salary', axis = 1)
y = data['estimated_salary']

In [14]:
## Split the data into train and test sets 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.25, random_state= 42)

## Scale the features 
scaler_reg = StandardScaler()
X_train = scaler_reg.fit_transform(X_train)
X_test = scaler_reg.transform(X_test)

In [16]:
# save all the pickle files 

with open('label_encoder_gen_reg.pkl', 'wb') as file: 
    pickle.dump(label_encoder_gen, file)


with open('onehot_encoder_con_reg.pkl', 'wb') as file: 
    pickle.dump(onehot_encoder_con, file)

with open('scaler_reg.pkl', 'wb') as file: 
    pickle.dump(scaler_reg, file)

## ANN Implementation for Regression

In [17]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
# Build the model 

model = Sequential([
    Dense(64, activation = 'relu', input_shape = (X_train.shape[1], )), ## HL 1 connected with i/p 
    Dense(32, activation = 'relu'), ## HL 2
    Dense(1) ## O/p layer 
])

## compile the model 
model.compile(optimizer = "adam", loss= "mean_absolute_error", metrics = ['mae'])

model.summary()

2025-04-16 16:37:33.964734: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2025-04-16 16:37:33.965103: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-04-16 16:37:33.965125: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2025-04-16 16:37:33.965419: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-04-16 16:37:33.965851: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard 
import datetime
# Setup tensorboard 
log_dir= "reg_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") 
tensorflow_callback = TensorBoard(log_dir= log_dir, histogram_freq= 1)

In [21]:
## Setup Early Stopping 
early_stopping_callback = EarlyStopping(monitor='val_loss', patience= 10, restore_best_weights= True)

In [22]:
# Train the model 
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs = 100, batch_size = 32,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100

2025-04-16 16:39:50.037715: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

235/235 [==============================] - 5s 12ms/step - loss: 100661.2969 - mae: 100661.2969 - val_loss: 98331.7188 - val_mae: 98331.7188
Epoch 2/100
235/235 [==============================] - 1s 6ms/step - loss: 100591.3594 - mae: 100591.3594 - val_loss: 98211.8359 - val_mae: 98211.8359
Epoch 3/100
235/235 [==============================] - 2s 7ms/step - loss: 100423.9375 - mae: 100423.9375 - val_loss: 97998.9219 - val_mae: 97998.9219
Epoch 4/100
235/235 [==============================] - 1s 6ms/step - loss: 100169.1641 - mae: 100169.1641 - val_loss: 97702.0312 - val_mae: 97702.0312
Epoch 5/100
235/235 [==============================] - 2s 7ms/step - loss: 99825.3828 - mae: 99825.3828 - val_loss: 97304.7578 - val_mae: 97304.7578
Epoch 6/100
235/235 [==============================] - 2s 8ms/step - loss: 99380.3984 - mae: 99380.3984 - val_loss: 96809.7031 - val_mae: 96809.7031
Epoch 7/100
235/235 [==============================] - 2s 9ms/step - loss: 98842.3281 - mae: 98842.3281 - val_loss: 96227.2422 - val_mae: 96227.2422
Epoch 8/100
235/235 [==============================] - 2s 10ms/step - loss: 98216.9922 - mae: 98216.9922 - val_loss: 95551.3906 - val_mae: 95551.3906
Epoch 9/100
235/235 [==============================] - 2s 9ms/step - loss: 97493.1484 - mae: 97493.1484 - val_loss: 94781.6328 - val_mae: 94781.6328
Epoch 10/100
235/235 [==============================] - 2s 8ms/step - loss: 96680.3281 - mae: 96680.3281 - val_loss: 93918.3906 - val_mae: 93918.3906
Epoch 11/100
235/235 [==============================] - 2s 8ms/step - loss: 95768.1562 - mae: 95768.1562 - val_loss: 92960.5312 - val_mae: 92960.5312
Epoch 12/100
235/235 [==============================] - 2s 7ms/step - loss: 94768.3438 - mae: 94768.3438 - val_loss: 91911.6641 - val_mae: 91911.6641
Epoch 13/100
235/235 [==============================] - 2s 8ms/step - loss: 93680.9062 - mae: 93680.9062 - val_loss: 90774.0469 - val_mae: 90774.0469
Epoch 14/100
235/235 [==============================] - 2s 8ms/step - loss: 92498.6719 - mae: 92498.6719 - val_loss: 89553.7422 - val_mae: 89553.7422
Epoch 15/100
235/235 [==============================] - 2s 7ms/step - loss: 91229.8203 - mae: 91229.8203 - val_loss: 88251.3828 - val_mae: 88251.3828
Epoch 16/100
235/235 [==============================] - 2s 7ms/step - loss: 89878.3594 - mae: 89878.3594 - val_loss: 86871.7188 - val_mae: 86871.7188
Epoch 17/100
235/235 [==============================] - 2s 7ms/step - loss: 88439.7891 - mae: 88439.7891 - val_loss: 85420.3047 - val_mae: 85420.3047
Epoch 18/100
235/235 [==============================] - 2s 7ms/step - loss: 86952.0859 - mae: 86952.0859 - val_loss: 83919.9844 - val_mae: 83919.9844
Epoch 19/100
235/235 [==============================] - 2s 9ms/step - loss: 85400.2188 - mae: 85400.2188 - val_loss: 82363.4609 - val_mae: 82363.4609
Epoch 20/100
235/235 [==============================] - 2s 8ms/step - loss: 83781.9219 - mae: 83781.9219 - val_loss: 80754.0781 - val_mae: 80754.0781
Epoch 21/100
235/235 [==============================] - 2s 8ms/step - loss: 82129.1406 - mae: 82129.1406 - val_loss: 79116.3828 - val_mae: 79116.3828
Epoch 22/100
235/235 [==============================] - 2s 8ms/step - loss: 80437.5469 - mae: 80437.5469 - val_loss: 77437.9219 - val_mae: 77437.9219
Epoch 23/100
235/235 [==============================] - 2s 7ms/step - loss: 78703.6953 - mae: 78703.6953 - val_loss: 75737.6875 - val_mae: 75737.6875
Epoch 24/100
235/235 [==============================] - 2s 8ms/step - loss: 76955.1641 - mae: 76955.1641 - val_loss: 74024.2266 - val_mae: 74024.2266
Epoch 25/100
235/235 [==============================] - 2s 8ms/step - loss: 75194.0000 - mae: 75194.0000 - val_loss: 72305.5781 - val_mae: 72305.5781
Epoch 26/100
235/235 [==============================] - 1s 6ms/step - loss: 73409.7734 - mae: 73409.7734 - val_loss: 70580.9219 - val_mae: 70580.9219
Epoch 27/100
235/235 [==============================] - 2s 8ms/step - loss: 71632.5469 - mae: 71632.5469 - val_loss: 68888.9609 - val_mae: 68888.9609
Epoch 28/100
235/235 [==============================] - 2s 6ms/step - loss: 69917.1250 - mae: 69917.1250 - val_loss: 67230.6719 - val_mae: 67230.6719
Epoch 29/100
235/235 [==============================] - 2s 7ms/step - loss: 68204.9766 - mae: 68204.9766 - val_loss: 65612.4766 - val_mae: 65612.4766
Epoch 30/100
235/235 [==============================] - 2s 7ms/step - loss: 66516.3359 - mae: 66516.3359 - val_loss: 63992.9453 - val_mae: 63992.9453
Epoch 31/100
235/235 [==============================] - 2s 7ms/step - loss: 64845.1836 - mae: 64845.1836 - val_loss: 62459.2695 - val_mae: 62459.2695
Epoch 32/100
235/235 [==============================] - 2s 8ms/step - loss: 63274.9219 - mae: 63274.9219 - val_loss: 60953.0312 - val_mae: 60953.0312
Epoch 33/100
235/235 [==============================] - 2s 7ms/step - loss: 61744.0195 - mae: 61744.0195 - val_loss: 59546.5039 - val_mae: 59546.5039
Epoch 34/100
235/235 [==============================] - 2s 7ms/step - loss: 60303.5195 - mae: 60303.5195 - val_loss: 58223.5664 - val_mae: 58223.5664
Epoch 35/100
235/235 [==============================] - 2s 8ms/step - loss: 58934.2617 - mae: 58934.2617 - val_loss: 57002.4883 - val_mae: 57002.4883
Epoch 36/100
235/235 [==============================] - 2s 7ms/step - loss: 57681.1875 - mae: 57681.1875 - val_loss: 55859.6289 - val_mae: 55859.6289
Epoch 37/100
235/235 [==============================] - 2s 7ms/step - loss: 56500.3008 - mae: 56500.3008 - val_loss: 54836.9297 - val_mae: 54836.9297
Epoch 38/100
235/235 [==============================] - 2s 7ms/step - loss: 55460.2148 - mae: 55460.2148 - val_loss: 53934.8359 - val_mae: 53934.8359
Epoch 39/100
235/235 [==============================] - 2s 8ms/step - loss: 54507.1602 - mae: 54507.1602 - val_loss: 53105.5664 - val_mae: 53105.5664
Epoch 40/100
235/235 [==============================] - 2s 8ms/step - loss: 53664.6016 - mae: 53664.6016 - val_loss: 52374.7422 - val_mae: 52374.7422
Epoch 41/100
235/235 [==============================] - 2s 7ms/step - loss: 52932.8203 - mae: 52932.8203 - val_loss: 51760.8750 - val_mae: 51760.8750
Epoch 42/100
235/235 [==============================] - 2s 8ms/step - loss: 52270.6562 - mae: 52270.6562 - val_loss: 51275.1055 - val_mae: 51275.1055
Epoch 43/100
235/235 [==============================] - 2s 7ms/step - loss: 51712.8125 - mae: 51712.8125 - val_loss: 50871.7773 - val_mae: 50871.7773
Epoch 44/100
235/235 [==============================] - 2s 9ms/step - loss: 51248.0977 - mae: 51248.0977 - val_loss: 50524.8242 - val_mae: 50524.8242
Epoch 45/100
235/235 [==============================] - 2s 8ms/step - loss: 50872.7031 - mae: 50872.7031 - val_loss: 50254.1328 - val_mae: 50254.1328
Epoch 46/100
235/235 [==============================] - 2s 7ms/step - loss: 50567.5078 - mae: 50567.5078 - val_loss: 50066.6992 - val_mae: 50066.6992
Epoch 47/100
235/235 [==============================] - 2s 8ms/step - loss: 50312.1133 - mae: 50312.1133 - val_loss: 49927.7617 - val_mae: 49927.7617
Epoch 48/100
235/235 [==============================] - 2s 7ms/step - loss: 50138.1797 - mae: 50138.1797 - val_loss: 49848.5547 - val_mae: 49848.5547
Epoch 49/100
235/235 [==============================] - 2s 6ms/step - loss: 50011.2812 - mae: 50011.2812 - val_loss: 49777.7031 - val_mae: 49777.7031
Epoch 50/100
235/235 [==============================] - 2s 7ms/step - loss: 49920.7500 - mae: 49920.7500 - val_loss: 49731.7695 - val_mae: 49731.7695
Epoch 51/100
235/235 [==============================] - 2s 7ms/step - loss: 49842.5859 - mae: 49842.5859 - val_loss: 49718.8906 - val_mae: 49718.8906
Epoch 52/100
235/235 [==============================] - 1s 6ms/step - loss: 49802.4805 - mae: 49802.4805 - val_loss: 49693.0039 - val_mae: 49693.0039
Epoch 53/100
235/235 [==============================] - 1s 6ms/step - loss: 49745.0234 - mae: 49745.0234 - val_loss: 49692.6680 - val_mae: 49692.6680
Epoch 54/100
235/235 [==============================] - 2s 6ms/step - loss: 49713.2148 - mae: 49713.2148 - val_loss: 49684.7617 - val_mae: 49684.7617
Epoch 55/100
235/235 [==============================] - 1s 6ms/step - loss: 49695.1406 - mae: 49695.1406 - val_loss: 49695.8008 - val_mae: 49695.8008
Epoch 56/100
235/235 [==============================] - 1s 6ms/step - loss: 49689.9219 - mae: 49689.9219 - val_loss: 49703.5547 - val_mae: 49703.5547
Epoch 57/100
235/235 [==============================] - 2s 7ms/step - loss: 49683.2656 - mae: 49683.2656 - val_loss: 49680.1523 - val_mae: 49680.1523
Epoch 58/100
235/235 [==============================] - 2s 7ms/step - loss: 49666.7891 - mae: 49666.7891 - val_loss: 49678.4258 - val_mae: 49678.4258
Epoch 59/100
235/235 [==============================] - 2s 6ms/step - loss: 49676.7812 - mae: 49676.7812 - val_loss: 49691.3125 - val_mae: 49691.3125
Epoch 60/100
235/235 [==============================] - 1s 6ms/step - loss: 49666.3789 - mae: 49666.3789 - val_loss: 49693.7891 - val_mae: 49693.7891
Epoch 61/100
235/235 [==============================] - 1s 6ms/step - loss: 49657.7891 - mae: 49657.7891 - val_loss: 49701.8086 - val_mae: 49701.8086
Epoch 62/100
235/235 [==============================] - 1s 6ms/step - loss: 49644.8555 - mae: 49644.8555 - val_loss: 49690.7852 - val_mae: 49690.7852
Epoch 63/100
235/235 [==============================] - 2s 7ms/step - loss: 49663.7695 - mae: 49663.7695 - val_loss: 49695.9102 - val_mae: 49695.9102
Epoch 64/100
235/235 [==============================] - 2s 7ms/step - loss: 49646.2344 - mae: 49646.2344 - val_loss: 49697.5547 - val_mae: 49697.5547
Epoch 65/100
235/235 [==============================] - 2s 6ms/step - loss: 49659.2461 - mae: 49659.2461 - val_loss: 49704.4258 - val_mae: 49704.4258
Epoch 66/100
235/235 [==============================] - 1s 6ms/step - loss: 49646.7578 - mae: 49646.7578 - val_loss: 49701.8477 - val_mae: 49701.8477
Epoch 67/100
235/235 [==============================] - 1s 6ms/step - loss: 49644.3555 - mae: 49644.3555 - val_loss: 49693.5352 - val_mae: 49693.5352
Epoch 68/100
235/235 [==============================] - 1s 6ms/step - loss: 49648.8633 - mae: 49648.8633 - val_loss: 49692.6211 - val_mae: 49692.6211

In [23]:
## Load TensorBoard extension 

%load_ext tensorboard

In [25]:
%tensorboard --logdir reg_logs/fit

Reusing TensorBoard on port 6006 (pid 14014), started 0:00:09 ago. (Use '!kill 14014' to kill it.)

In [26]:
!kill 14014

In [27]:
# Evaluate the model on the test data 

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

79/79 [==============================] - 0s 4ms/step - loss: 49678.4258 - mae: 49678.4258
Test MAE: 49678.42578125

In [28]:
model.save('regression_model.h5')

/Users/saivineethgrandhi/Documents/C/GenAI/SimpleANNImplementation/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(